<div class="mailerConfirmationPage">
  <img class="mailImage" src="../images/mail.png" alt="mailImage">  
  <div>
    <h1 class="h1Mailer">Te hemos enviado un email de confirmación</h1>
    <span class="SpanMailer">Revisa en la badeja de entrada de tu correo:
      {{correo}}</span>
  </div>
</div>