<div class="errorPage">
  <img class="pizzaErrorImg" src="{{root}}/images/errorImage.jpg" alt="Error Pizza" />
  <div class="childErrorPage">
    <h1 class="errorH1">Algo salió mal</h1>
    <span class="errorSpan">{{msg}}</span>
  </div>

</div>